// app.rc - Windows Resource File
// This file tells Windows about your application icon and properties

// Main application icon
IDI_ICON1 ICON "Images/CyberScanner.ico"

// Version information
VS_VERSION_INFO VERSIONINFO
    FILEVERSION 1,0,0,0
    PRODUCTVERSION 1,0,0,0
    FILEFLAGSMASK 0x3fL
    FILEFLAGS 0x0L
    FILEOS 0x40004L
    FILETYPE 0x1L
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"  // US English
        BEGIN
            VALUE "CompanyName", "CyberNilsen"
            VALUE "FileDescription", "CyberScanner - Network Port Scanner"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "CyberScanner"
            VALUE "LegalCopyright", "Copyright (C) 2025 CyberNilsen"
            VALUE "OriginalFilename", "CyberScanner.exe"
            VALUE "ProductName", "CyberScanner"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200  // US English
    END
END
